body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  width: 120px;
  box-shadow: 0 0 20px black;
}
.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto;
  background: #333;
}
.red {
  animation: redLight 15s infinite;
}
.yellow {
  animation: yellowLight 15s infinite;
}
.green {
  animation: greenLight 15s infinite;
}
@keyframes redLight {
  0%,45% {
    background: red;
}
  46% {
    background: #888;
}
}
@keyframes yellowLight {
  0%,38% {
    background: #888;
}
  39%,45% {
    background: yellow;
}
  93%,100% {
    background: yellow;
  }
  46%,92% {
    background: #888;
  }
}
@keyframes greenLight {
  0%,45% {
    background: #888;
}
  46%,71% {
    background: lime;
 }
  76%,79% {
    background: #888;
}
  80%,83% {
    background: lime;
}
  84%,87% {
    background: #888;
}
  88%,92% {
    background: lime;
}
  93% {
    background: #888;
}
}