* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 300px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}

.row {
    display: flex;
}
.r1 {
    justify-content: space-between;
}
.r2 {
    flex-direction: column;
    gap: 20px;
}
.r3 {
    gap: 10px;
    justify-content: space-between;
}
.rect {
    width: 40px;
    height: 50px;
    background: #787885;
}
.line {
    width: 100%;
    height: 10px;
    background: #787885;
}
.cascade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dzoxik {
    width: 75px;
    height: 10px;
    background: #787885;
}
.meeec {
    background: #787885;
    flex-grow: 1;
}